{% extends 'base.html'%}
{% block content %}
<h2 class="text-center" style="font-size:30px;font-family: 'Aladin'">CHANGE PASSWORD</h2>
<div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">

    <form method="POST" action="{% url 'change_password'%}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                <p>Your Form has Errors,Please fill it properly...</p>
                {% for field in form %}
                    {%if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
            
        {% endif %}
        {{form.as_p}}
        <input type="submit" value="Change Password" class="btn btn-secondary">
    </form>  
</div>
</div>
</div>
</div>
</div>
{% endblock %}